# ==============================
# ⚙️ Node.js Dependencies
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# ⚙️ Environment Variables
# ==============================
.env

# ==============================
# ⚙️ Build & Cache
# ==============================
dist/
build/
coverage/

# ==============================
# 🧠 Logs
# ==============================
logs/
*.log
*.log.*

# ==============================
# 🧩 Editor & System Files
# ==============================
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# ==============================
# ⚙️ Optional: jika nanti pakai Mongo dump
# ==============================
dump/
data/